body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}
#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}
#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 520px;
    float: right;
}
#contpri{
    width: 320px;
    float: left;
}
#contsec{
    width: 180px;
    float: right;
    background: #d1d1d1;
}
#contsec h1,
#contsec h2,
#contsec h3,
#contsec p {
    padding-left: 20px;
    padding-right: 20px;
}
#navegacao{
    width: 180px;
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}